In [29]:
import pandas as pd
import numpy as np
import os

In [30]:
# Read in first 35,000 rows of dataset and rename columns
en_fr_df = pd.read_csv("eng_-french.csv")
en_fr_df = en_fr_df[0:35000]
en_fr_df.rename(columns={"English words/sentences": "en", "French words/sentences": "fr"}, inplace=True)

In [34]:
# String lengths of English and French phrases
en_str_len = en_fr_df["en"].str.len()
fr_str_len = en_fr_df["fr"].str.len()

In [35]:
# Create individual and combined dataframes for English and French phrase length
en_str_len_df = pd.DataFrame({"str_len": en_str_len,
                              "lang": "en"})
fr_str_len_df = pd.DataFrame({"str_len": fr_str_len,
                              "lang": "fr"})
str_lens_df = pd.concat([en_str_len_df, fr_str_len_df])

In [36]:
# Write string lengths to csv file
str_lens_df.to_csv("str_lens_df.csv", index=False)

In [59]:
# Create dataframe of bins with counts for string length for EDA
bins_df = pd.DataFrame({"lang": pd.Series(dtype="str"),
                        "bin": pd.Series(dtype="str"),
                        "num": pd.Series(dtype="int")})

bins_df.loc[len(bins_df.index)] = ["en", "Less than 10", len(en_str_len[en_str_len < 10])]
bins_df.loc[len(bins_df.index)] = ["en", "10 to 14", len(en_str_len[(en_str_len >= 10) & (en_str_len < 15)])]
bins_df.loc[len(bins_df.index)] = ["en", "15 to 19", len(en_str_len[(en_str_len >= 15) & (en_str_len < 20)])]
bins_df.loc[len(bins_df.index)] = ["en", "20 to 24", len(en_str_len[(en_str_len >= 20) & (en_str_len < 25)])]
bins_df.loc[len(bins_df.index)] = ["en", "25 to 29", len(en_str_len[(en_str_len >= 25) & (en_str_len < 30)])]
bins_df.loc[len(bins_df.index)] = ["en", "30 or more", len(en_str_len[en_str_len >= 30])]

bins_df.loc[len(bins_df.index)] = ["fr", "Less than 10", len(fr_str_len[fr_str_len < 10])]
bins_df.loc[len(bins_df.index)] = ["fr", "10 to 14", len(fr_str_len[(fr_str_len >= 10) & (fr_str_len < 15)])]
bins_df.loc[len(bins_df.index)] = ["fr", "15 to 19", len(fr_str_len[(fr_str_len >= 15) & (fr_str_len < 20)])]
bins_df.loc[len(bins_df.index)] = ["fr", "20 to 24", len(fr_str_len[(fr_str_len >= 20) & (fr_str_len < 25)])]
bins_df.loc[len(bins_df.index)] = ["fr", "25 to 29", len(fr_str_len[(fr_str_len >= 25) & (fr_str_len < 30)])]
bins_df.loc[len(bins_df.index)] = ["fr", "30 or more", len(fr_str_len[fr_str_len >= 30])]

   lang           bin    num
0    en  Less than 10    486
1    en      10 to 14   6628
2    en      15 to 19  20631
3    en      20 to 24   7255
4    en      25 to 29      0
5    en    30 or more      0
6    fr  Less than 10    287
7    fr      10 to 14   3006
8    fr      15 to 19   9463
9    fr      20 to 24  11556
10   fr      25 to 29   7051
11   fr    30 or more   3637

In [60]:
# Write bins dataframe to csv file
bins_df.to_csv("str_len_bins_df.csv", index=False)