In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
chunksize = 1000
df_list = []

df = pd.read_csv("/Users/ani/eng_-french.csv")

for dataframe in pd.read_csv("/Users/ani/en-fr.csv", chunksize=chunksize, nrows=5000000):
    df_list.append(dataframe)

In [4]:
df1 = pd.concat(df_list)

In [5]:
en_fr_df = pd.concat([df.rename(columns={"English words/sentences": "en", "French words/sentences": "fr"}), df1])

In [6]:
en_fr_df = en_fr_df.dropna()

In [23]:
en_fr_df.to_csv("en_fr_df_combined.csv", index=False)

In [8]:
en_str_len = en_fr_df["en"].str.len()
fr_str_len = en_fr_df["fr"].str.len()

In [10]:
en_str_len_df = pd.DataFrame({"str_len": en_str_len,
                              "lang": "en"})
fr_str_len_df = pd.DataFrame({"str_len": fr_str_len,
                              "lang": "fr"})
str_lens_df = pd.concat([en_str_len_df, fr_str_len_df])

In [25]:
# str_lens_df.to_csv("str_lens_df.csv", index=False)

         str_len lang
0              3   en
1              4   en
2              4   en
3              4   en
4              4   en
...          ...  ...
4999995      225   fr
4999996      316   fr
4999997      135   fr
4999998      223   fr
4999999      181   fr

[10351150 rows x 2 columns]

In [18]:
bins_df = pd.DataFrame({"lang": pd.Series(dtype="str"),
                        "bin": pd.Series(dtype="str"),
                        "num": pd.Series(dtype="int")})

bins_df.loc[len(bins_df.index)] = ["en", "Less than 100", len(en_str_len[en_str_len < 100])]
bins_df.loc[len(bins_df.index)] = ["en", "100 to 199", len(en_str_len[(en_str_len >= 100) & (en_str_len < 200)])]
bins_df.loc[len(bins_df.index)] = ["en", "200 to 299", len(en_str_len[(en_str_len >= 200) & (en_str_len < 300)])]
bins_df.loc[len(bins_df.index)] = ["en", "300 to 399", len(en_str_len[(en_str_len >= 300) & (en_str_len < 400)])]
bins_df.loc[len(bins_df.index)] = ["en", "400 to 499", len(en_str_len[(en_str_len >= 400) & (en_str_len < 500)])]
bins_df.loc[len(bins_df.index)] = ["en", "500 to 999", len(en_str_len[(en_str_len >= 500) & (en_str_len < 1000)])]
bins_df.loc[len(bins_df.index)] = ["en", "1,000 or more", len(en_str_len[en_str_len >= 1000])]

# len(en_str_len[(en_str_len >= 100) & (en_str_len < 400)])


bins_df.loc[len(bins_df.index)] = ["fr", "Less than 100", len(fr_str_len[fr_str_len < 100])]
bins_df.loc[len(bins_df.index)] = ["fr", "100 to 199", len(fr_str_len[(fr_str_len >= 100) & (fr_str_len < 200)])]
bins_df.loc[len(bins_df.index)] = ["fr", "200 to 299", len(fr_str_len[(fr_str_len >= 200) & (fr_str_len < 300)])]
bins_df.loc[len(bins_df.index)] = ["fr", "300 to 399", len(fr_str_len[(fr_str_len >= 300) & (fr_str_len < 400)])]
bins_df.loc[len(bins_df.index)] = ["fr", "400 to 499", len(fr_str_len[(fr_str_len >= 400) & (fr_str_len < 500)])]
bins_df.loc[len(bins_df.index)] = ["fr", "500 to 999", len(fr_str_len[(fr_str_len >= 500) & (fr_str_len < 1000)])]
bins_df.loc[len(bins_df.index)] = ["fr", "1,000 or more", len(fr_str_len[fr_str_len >= 1000])]

bins_df

   lang            bin      num
0    en  Less than 100  2054487
1    en     100 to 199  2121454
2    en     200 to 299   719598
3    en     300 to 399   172980
4    en     400 to 499    52045
5    en     500 to 999    45135
6    en  1,000 or more     9876
7    fr  Less than 100  1641459
8    fr     100 to 199  2039087
9    fr     200 to 299   994872
10   fr     300 to 399   315313
11   fr     400 to 499    98544
12   fr     500 to 999    73281
13   fr  1,000 or more    13019

In [19]:
# bins_df.to_csv("str_len_bins_df.csv", index=False)